<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <FactionSettingsNotice>Faction Settings - Any changes made here will require a restart to take effect.</FactionSettingsNotice>
  <CombinedFactionNotice>The White Hand is a faction that combines the Krogan and Vorcha into a single faction.</CombinedFactionNotice>
  <PermanentlyHostileFactions>Permanently Hostile Factions</PermanentlyHostileFactions>
</LanguageData>